{% extends 'fishindex.html' %}
{% block content %}

{% load static %}

    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/mike-bergmann-tHjXXy1kk_Q-unsplash.jpg' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Contact Us <i class="fa fa-chevron-right"></i></span></p>
              <h2 class="mb-0 bread">Contact Us</h2>
            </div>
          </div>
        </div>
      </section>
  
      <section class="ftco-section bg-light">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-12">
                          <div class="wrapper px-md-4">
                              <div class="row mb-5">
                                  <div class="col-md-3">
                                      <div class="dbox w-100 text-center">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                      <span class="fa fa-map-marker"></span>
                                  </div>
                                  <div class="text">
                                  <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                </div>
                            </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="dbox w-100 text-center">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                      <span class="fa fa-phone"></span>
                                  </div>
                                  <div class="text">
                                  <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                                </div>
                            </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="dbox w-100 text-center">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                      <span class="fa fa-paper-plane"></span>
                                  </div>
                                  <div class="text">
                                  <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                                </div>
                            </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="dbox w-100 text-center">
                                  <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span> 
                                  </div>
                                  <div class="text">
                                  <p><span>Website</span> <a href="#">yoursite.com</a></p>
                                </div>
                            </div>
                                  </div>
                              </div>
                              <div class="row no-gutters">
                                  <div class="col-md-7">
                                      <div class="contact-wrap w-100 p-md-5 p-4">
                                          <h3 class="mb-4">Contact Us</h3>
                                          <form method="POST" id="contactForm" name="contactForm" class="contactForm" action="{% url 'contactdata' %}">
                                            {% csrf_token %}
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <div class="form-group">
                                                          <label class="label" for="name">Full Name</label>
                                                          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                                      </div>
                                                  </div>
                                                  <div class="col-md-6"> 
                                                      <div class="form-group">
                                                          <label class="label" for="email">Email Address</label>
                                                          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                                      </div>
                                                  </div>
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <label class="label" for="subject">Subject</label>
                                                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                                      </div>
                                                  </div>
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <label class="label" for="#">Message</label>
                                                          <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <input type="submit" value="Send Message" class="btn btn-primary">
                                                          <div class="submitting"></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </form>

                                          


                            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                            <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
                          <script>
                          jQuery.validator.addMethod("accept", function(value, element, param) {
                                  return value.match(new RegExp("^" + param + "$"));
                                },'please enter a valid email')
                           
                          
                            $("#contactForm").validate({
                                  normalizer: function(value) 
                                  {
                                      return $.trim(value);
                                  },
                                  rules:{
                                    name:{
                                      required: true,
                                      minlength:5
                                      },
                                    email:{
                                      required: true,
                                      accept:"[a-zA-Z0-9._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{2,}"
                                      }
                                    },
                            // Specify validation error messages
                          //     messages: {
                          //       name: {
                          //         required: "Please enter your name"
                          //   },
                          //   Phone:{
                          //   required: "Please Enter your PhoneNumber"
                          //   },
                          //       password: {
                          //         required: "Please provide a password",
                          //         minlength: "Your password must be at least 5 characters long"
                          //       },
                          //       mail:{
                          // required: "Please enter a valid email address"
                          //   } ,
                          //     },
                          
                                  // submitHandler: function(form)
                                  //  {
                                  //     var form = document.getElementById('fid');
                                  //     var data = new FormData(form);
                                  //     $.ajax
                                  //     ({
                                  //         method: "POST",
                                  //         url: "{% url 'admindata' %}",
                                  //         data,
                                  //         cache: false,
                                  //         contentType: false,
                                  //         processData: false,
                                  //     });
                                   
                                    //   return false;
                                    // }
                                
                              });
                            </script>

                                      </div>
                                  </div>
                                 <!-- <div class="col-md-5 order-md-first d-flex align-items-stretch">
                                      <div id="map" class="map"></div>
                                  </div>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          {% endblock %}
        