{% extends 'fishindex.html' %}
{% block content %}

{% load static %}

    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/mike-bergmann-tHjXXy1kk_Q-unsplash.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
            <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span><a href="product.html">Products <i class="fa fa-chevron-right"></i></a></span> <span>Products Single <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">Products Single</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
				{% for d in data %}
    			<div class="col-lg-6 mb-5 ftco-animate">
					<img src="{{d.Image.url}}" class="img-fluid">
    			<!--	<a href="images/prod-1.jpg" class="image-popup prod-img-bg"><img src="{% static 'images/prod-1.jpg' %}" class="img-fluid" alt="Colorlib Template"></a>
    			-->
				</div>
				<form action="{% url 'cart' prodid=d.id %}" method='POST'>
					{% csrf_token %}
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
					
    				<h3>{{d.Product_Name}}</h3>
    			
    				<p class="price"><span>${{d.Product_Price}}</span></p>
    				<h3>{{d.Product_Weight}}</h3>
						<!--<h6>{{d.Product_Category}}</h6>-->
						
						<div class="row mt-4">
							<div class="input-group col-md-6 d-flex mb-3">
	             	
						<label>Quantity:</label>
	             	&nbsp; &nbsp;<input type="number" id="quantity" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
	             	<input type="hidden" id="price" value="{{d.Product_Price}}">
					 <input type="hidden" id="userid" name="userid" value="{{request.session.id}}">
					 <input type="hidden" id="username" name="username" value="{{request.session.username}}">
					 <div><p><label>Total Amount:</label>
					 <input name="total" id="total" type="text" value="{{d.Product_Price}}"></p></div>
					 
	          	</div>
	         
          	</div>
          	<p><button class="btn btn-primary py-3 px-5 mr-2">Add to Cart</button></p>
				<!--<a href="cart.html" class="btn btn-primary py-3 px-5">Buy now</a></p>-->
    			</div>
    		</div>

		</form>

              </div>
            </div>
          </div>
		  {% endfor %}
        </div>
    	</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script>
$(document).ready(function(){
	$("#quantity").change(function(){
		var a=$("#price").val();
		var b=$("#quantity").val();
		var total=parseInt(a)*parseInt(b);
		$("#total").val(total);
	});
});

		</script>
    </section>
    {% endblock %}